/**
 * variables.css
 *
 * Variables for the website
 *
 */

/* fonts */
$font-family: 'Montserrat', sans-serif;

/* grid */
$base-width: 120rem;
$base-xl-width: 144rem;

/* spacing */

/* Media queries */
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1440px,
        xxl:1600px
);






